header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-mc {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;

  padding: 0 2rem;
  background-color: var(--second-color);
  align-items: center;
  justify-content: space-between;
}

.header-mc-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  svg {
    width: 200px;
  }
}

.header-user-search-bar {
  display: flex;
  flex-direction: row;
  width: 400px;
  position: relative;

  input {
    width: 100%;
    background-color: var(--bg-cards-color);
    color: var(--font-second-color);
    border: 2px solid var(--font-second-color);

    border-radius: 20px;
    text-align: center;
    font-family: var(--font-global);
    padding: 8px;
  }

  input:focus {
    border: 2px solid var(--font-main-color);
    color: var(--font-main-color);
  }
  button {
    transform: translateX(-35px);
  }
  button:hover {
    background-color: var(--font-main-color);
    color: var(--second-color);
  }
}
.header-mc-hidden {
  display: none;
}
.header-mc-shown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: #00000088;
  display: flex;
  justify-content: end;
  z-index: 9;
}
.header-mc-user-menu {
  box-sizing: border-box;
  background-color: #161616;
  filter: none;
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding-right: 2rem;
  width: fit-content;
  height: 100%;

  .header-mc-user-menu-data {
    box-sizing: border-box;
    border: 2px solid #161616;
    border-radius: 10px;
    background-color: #161616;
    color: var(--emphasis-color);
    margin: 2.5rem 0.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    height: fit-content;
    font-family: var(--font-global);

    .menu-data-user-info {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      gap: 1rem;
      align-items: center;
      width: inherit;
      height: inherit;

      img {
        width: 60px;
        border: 1px solid #161616;
        border-radius: 50px;
      }
      h2 {
        margin: 0;
        font-weight: 500;
      }
    }
    .menu-data-user-props {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h4 {
        margin: 0;
        font-weight: 300;
      }
    }

    hr {
      color: var(--emphasis-color);
      width: 92%;
    }
  }
}
#header-mc-user-settings-close {
  position: absolute;
  right: 0;
  margin: 1rem;
  padding: 5px 12px;
  font-weight: bolder;
}
#header-mc-user-settings-close:hover {
  background-color: var(--font-main-color);
  color: var(--second-color);
}

#user-button {
  background-color: var(--bg-cards-color);
  padding: 8px;
  width: 45px;
}
#user-button:hover {
  transform: scale(1.1);
}
.userCard {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0rem;
  top: 2rem;
  display: block;
  background-color: #d9d9d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: none;
  border-radius: 12px;
  transition: ease-in-out 0.3s;
}
.userCard-button:hover {
  background-color: #55c2c6;
  cursor: pointer;
}
.userCard-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--font-global);
  font-size: small;

  img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  h2 {
    margin: 0;
  }
}

@media (max-width: 1025px) {
  .header-mc-left {
    flex-direction: column;
    gap: 0;
    padding-bottom: 0.5rem;

    svg {
      transform: translateX(-15px);
    }
  }
  .userCard {
    top: 6.5rem;
    left: 5.5rem;
  }
  #user-button {
    width: 70px;
    padding: 20px;

    svg {
      transform: scale(1.3);
    }
  }
}
