.botones-del-home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.boton-recomendaciones:hover {
  background-color: var(--font-main-color);
  color: var(--second-color);
}

.botones-inferiores {
  display: flex;
  justify-content: space-between;
}

.boton-recomendaciones {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #0d73ec;
  color: var(--font-main-color);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
}

.boton-recomendaciones:hover {
  background-color: var(--second-color);
  color: var(--font-main-color);
}

.boton-playlist {
  width: 47%;
  height: 100px;
  background-color: #e8115b;
  color: var(--font-main-color);
  border-radius: 20px;
}

.boton-playlist:hover {
  background-color: var(--second-color);
  color: var(--font-main-color);
}

.boton-artista {
  width: 47%;
  height: 100px;
  background-color: #148a08;
  color: var(--font-main-color);
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-artista:hover {
  background-color: var(--second-color);
  color: var(--font-main-color);
}

.div-recent-release {
  color: white;
}
