.home-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div-home-ambos-lados{
    display: flex;
    justify-content: space-around;
    gap: 67px;
}

.padding-especial{
    padding: 2rem;
}

.div-home-escucha{
    background-color: #E8115B;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    box-sizing: border-box;
}

.div-home-escucha h1{
    color: white;
    
}

.logo-container svg{
    width: 250px;
}