body{
    margin: 0;
}

.bg-image{
    background-image: url(../assets/girlLogin.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.login-h1{
    font-size: 4rem;
    margin: 0;
}

.login-h1 span{
    background-color: #005D65;
}

.div-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.form-login{
    width: 40%;
    height: 80%;
    background-color: #474E53;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.input-login{
    height: 40px;
    margin-left: 25%;
    width: 50%;
    border-radius: 25px;
    background-color: #D9D9D9;
    border: none;
}

.input-button{
    border: none;
    margin: 10% 25%;
    width: 50%;
    border-radius: 25px;
    background-color: #009418;
    color: white;
    height: 40px;
}

.login-p{
    margin-left: 25%;
}

.login-h{
    margin-left: 40%;
}