* {
  box-sizing: border-box;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  background-color: #242424;
  padding: 0.5rem;
  border-radius: 20px;
  height: fit-content;
}

.card {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: transparent;
  color: #ffffff;
  font-family: Poppins;
  border-radius: 12px;
  transition: all ease-in-out 0.3s;
}

.card:hover {
  background-color: #4c4c4c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.img-btn-section {
  position: relative;
  border-radius: 8px;
}

.song-img {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.playBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.playBtn svg {
  padding-left: 2px;
  path {
    fill: #005d65;
  }
}

h4,
h5 {
  margin: 0;
}

.music-hero {
  width: 100%;
  height: fit-content;
  background: url(../assets/bg-picture-music-release-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Poppins;

  p {
    color: #ffffff;
    margin: 0;
    padding: 0;

    span {
      /* background-color: aqua;
      padding: 0.25rem 0.5rem;
      color: #005d65; */
      font-weight: 700;
    }
  }
}

.intern-hero {
  width: 100%;
  height: 280px;
  max-width: 1920px;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.intern-hero .reco-title {
  font-size: 4rem;
  max-width: 1920px;
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  gap: 1rem;
}

/* LATERAL PLAYING SONG */

.lateral-main-container {
  position: sticky;
  top: 1rem;
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lateral-player-container {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  border-radius: 20px;
}

.loading-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  border-radius: 20px;
  padding: 0.5rem;
}

.loading-img {
  width: 30%;
}

/* 
MEDIAQUERIES */

@media (max-width: 432px) {
  .dislaimer-container {
    display: none;
  }

  .music-hero .reco-title {
    font-size: 1.5rem;
  }
  .music-hero p {
    font-size: 0.875rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .lateral-main-container {
    width: 100%;
    bottom: 0;
    gap: 0;
  }
  .music-hero {
    height: 120px;
    padding: 1rem;
  }
  .content-container {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }
  .cards-container {
    width: 100%;
  }
  .play-song-card {
    height: 152px !important;
  }
  .loading-container {
    width: 100%;
  }

  .loading-img {
    width: 40%;
  }
}
