.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  /* width: 320px; */
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: #f2f2f2;
  font-family: Poppins;
  border-radius: 12px;
}

.img-btn-section {
  position: relative;
  border-radius: 8px;
}

.song-img {
  width: 100%;
  border-radius: 8px;
}

.playBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

h4,
h5 {
  margin: 0;
}
